.ms-4{
    padding-top: 3%;
} 
.SubTitle{
    margin: 40px;
}

.card-text{
    
    font-size: medium;
}
.profileCards{
    display: flex;
    padding: 5%;
    gap: 1%;
}
.gameCards{
    display: flex;
    padding: 5%;
    gap: 1%;
}