p{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
}
.SubTitle{
    margin: 40px;
}

.card-text{
    
    font-size: medium;
}
.gameCards{
    display: flex;
    padding: 5%;
}
.profileCards{
    display: flex;
    padding: 5%;

}